<h1>Playground</h1>
<hr/>
<h2>Control of Portfolio Item Data in Table</h2>
<section>
  <h3>Data Visualization</h3>
  <app-portfolio-item-control></app-portfolio-item-control>
  <app-portfolio-item-view></app-portfolio-item-view>
</section>
<hr/>
<h2>Control of Sales Group Data</h2>
<section>
  <h3>Data Visualization</h3>
  <app-sales-group-view></app-sales-group-view>
  <app-sales-group-tree-view></app-sales-group-tree-view>
</section>
<h2>Aggregated Table</h2>
<section>
  <h3>Data Visualization</h3>
  <span>TABLE DATA$$</span>
</section>
